@if(prodotto != null)
{
    var url = "/prodotti/" + prodotto.Id;

    <div class="col">
        <div class="card">
            <img class="card-img-top" src="@prodotto.ImageUrl" alt="@prodotto.Nome" />
            <div class="card-body">
                <h5 class="card-title">@prodotto.Nome</h5>
                <p class="card-text">@prodotto.DescrizioneBreve</p>      
                <NavLink href="@url" class="btn btn-primary">Vai al dettaglio</NavLink>
            </div>
        </div>
    </div>
}


@code {
    [Parameter]
    public ProdottoModel? prodotto { get; set; }
}
